:root {
  --nav-logo-link-color: #4d5ae5;
  --nav-logo-span-color: #2e2f42;
  --nav-link-color: #2e2f42;
  --address-link-color: #434455;
  --hero-background-color: #2e2f42;
  --button-hover-background-color: #404bbf;
  --button-hover-color: #ffffff;
  --team-background-color: #f4f4fd;
  --title-color: #2e2f42;
  --sub-title-color: #2e2f42;
  --text-color: #434455;
  --footer-color: #2e2f42;
  --logo-footer-span-color: #f4f4fd;
  --footer-text-color: #f4f4fd;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
  outline-offset: -2px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  width: 261px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-link {
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-link-color);
}

.address {
  display: flex;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-link-color);
}

.navigation-logo {
  width: 115px;
  display: flex;
  margin-top: 25.5px;
  margin-right: 76px;
  margin-bottom: 25.5px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-logo-link-color);
}

.nav-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-logo-span-color);
}

.nav-menu:hover,
.nav-menu:focus,
.address-menu:hover,
.address-menu:focus {
  color: #404bbf;
}

.hero-section {
  background-color: var(--hero-background-color);
}

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  width: 496px;

  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button-box {
  display: flex;
  align-items: center;
}

.advantages-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.hero-button {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.advantages-container {
}

.production .button {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

.production .button:hover,
.production .button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--sub-title-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.team {
  background-color: var(--team-background-color);
}

.team-cards {
  background-color: #ffffff;
}

.footer {
  background-color: var(--footer-color);
  padding: 100px 0;
}

.footer-container {
  display: block;
  padding-right: 864px;
  /* padding-bottom: 100px; */
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-logo-link-color);
}

.footer-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-span-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
}
